#div{
    height: 100%;
    width: 100%;
    /* background-color: aqua;
    font-size: 30px;
    color: brown;
    margin: 30px;
    padding: 20px;
    border-radius: 20px;
 */
 background-image: url('./download\ 2222.webp');
 background-repeat: no-repeat;
}